
services:
  db:
    image: postgres:16
    container_name: tienda_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
     
  redis:
    image: redis:7
    restart: unless-stopped

  backend:
    build: ./backend
    restart: unless-stopped
    env_file: .env
    depends_on:
      - db
      - redis
    ports:
      - "127.0.0.1:8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000

#  celery-worker:
#    build:
#      context: ./backend
#      dockerfile: Dockerfile
#    container_name: tienda_celery_worker
#    restart: unless-stopped
#    env_file:
#      - .env
#    depends_on:
#      - backend
#      - redis
#    command: >
#      celery -A app.core.celery_app worker -l info

#  celery-beat:
#    build:
#      context: ./backend
#      dockerfile: Dockerfile
#    container_name: tienda_celery_beat
#    restart: unless-stopped
#    env_file:
#      - .env
#    depends_on:
#      - backend
#      - redis
#    command: >
#      celery -A app.core.celery_app beat -l info

  frontend:
    build: ./frontend
    restart: unless-stopped
    env_file: .env
    depends_on:
      - backend
    ports:
      - "127.0.0.1:3000:3000"
    environment:
      NODE_ENV: production

volumes:
  db_data:
